


.frame{  
    width: 100%;
    height: 200px;
    position: relative;
	   
}    

.frame img{
	display: block;
	float:left;
	width: 70%;
	padding: 20px;
}

.frame select{
	transform: translateY(89px);
}
section#summary{
	display:grid;
	grid-template-columns: 1fr 1fr;
}

div.money{
	margin: 20px;
	text-align: center;
}

#loginsection{
	float: right;
	font-size: .6em;
	margin: 10px;
}


