@charset "utf-8";
table#orderTable {
   margin: 30px 0px 0px 45px;
   width: 65%;
   border-collapse: collapse;
   color: rgb(151, 151, 151);
}


form#order input {
   background-color: transparent;
   border: none;
   color: rgb(151, 151, 151);
}

table#orderTable caption {
   font-size: 1.3em;
   text-align: left;
   color: rgb(151, 151, 151);
   font-weight: normal;
}


table#orderTable td {
   height: 20px;
   vertical-align: top;
}

form#order input#orderDate {
   text-align: right;
}

form#order input#qty {
   width: 3em;
}

form#order input#modelName, form#order input#protectionName {
   width: 15em;
}

form#order input {
   color: rgb(151, 151, 151);
}

table#orderTable tr:first-of-type {
   border-bottom: 1px solid rgb(151, 151, 151);
}

table#orderTable tr td:last-of-type input {
   text-align: right;
   border: none;
}

table#orderTable tr:nth-of-type(3) {
   border-bottom: 1px solid rgb(151, 151, 151);
}

table#orderTable tr:nth-of-type(2) td, table#orderTable tr:nth-of-type(4) td {
   padding-top: 15px;
}

table#orderTable tr:nth-of-type(5) td {
   border-bottom: 4px double rgb(151, 151, 151);
}

table#orderTable tr:last-of-type td {
   padding-top: 15px;
}

table#orderTable td.rightA {
   text-align: right;
   padding-right: 10px;
}



/* Payment Form Styles */

section#paySection {
   -webkit-flex: 1 1 400px;
   flex: 1 1 400px;
   border-left: 4px double rgb(101, 101, 101);   
   min-height: 300px;
}

section#paySection form#payment fieldset#cards {
   display: block;
   clear: left;
}

section#paySection p#footnote {
   font-size: 1em;
   text-align: left;
   margin: 0px 10px 20px 140px;
}

section#paySection h1 {
   text-align: center;
   font-size: 2em;
   letter-spacing: 0.15em;
   margin: 20px 0px;
   font-weight: normal;
   color: rgb(57, 44, 28);
}

form#payment fieldset {
   border: none;
}


form#payment fieldset#cards label:first-of-type {
   text-align: right;
   margin-left: 50px;
}

form#payment legend {
   font-size: 1.3em;
   padding: 8px;
   width: 80%;
   text-align: left;
   margin-left: 50px;
   margin-bottom: 20px;
   color: rgb(57, 44, 28);
}


/* Input and Label Styles */

form#payment label {
   display: block;
   float: left;
   clear: left;
   font-size: 0.9em;
   margin-bottom: 20px;
   margin-right: 10px;
   width: 180px;
   text-align: right;
   color: rgb(57, 44, 28);
}


form#payment input, form#payment select {
   display: block;
   float: left;
   box-shadow: 0px 0px 15px white;
}

/* Radio Button Styles */

form#payment label.cardLabel {
   display: inline-block;
   float: none;
   width: auto;
}

form#payment fieldset#cards img {
   display: inline-block;
   margin-left: 5px;
   box-shadow: 0px 0px 10px rgb(124, 92, 54);
}


form#payment input[type='radio'] {
   display: inline-block;
   width: auto;
   float: none;
   clear: none;
}

form#payment fieldset#cards {
   text-align: left;
   margin-left: 50px;
}

form#payment span {
   width: 30px;
   text-align: center;
   display: block;
   float: left;
}

form#payment input#cvc {
   width: 3em;
}

form#payment input#subButton {
   display: block;
   width: 180px;
   height: 35px;
   margin: 15px 0px 10px 200px;
   background-color: rgba(232, 218, 201, 0.8);
   font-size: 1em;
   float: none;
}

/* Valid and Invalid Styles */

input:invalid, input:focus:invalid, select:invalid, select:focus:invalid {
   outline: none;
   background-color: rgba(221,147,148,0.2);
 }

input:valid, input:focus:valid, select:valid, select:focus:valid {
   outline: none;
   background-color: none;
}

